{
  "presets": [],
  "plugins": [
    [
      "effector/babel-plugin",
      {
        "factories": [
          "src/shared/lib/create-modal",
          "~/shared/lib/create-modal"
        ]
      }
    ]
  ]
}
